<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All slots
    </h1>

    <a href="/slots/new" class="btn btn-block btn-outline-secondary">
      Add a new slot
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "slot_templates/slots_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Date
        </th>

        <th>
          Start time
        </th>

        <th>
          End time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @slots.each do |slot| %>
      <tr>
        <td>
          <%= slot.id %>
        </td>

        <td>
          <% if slot.user.present? %>
            <a href="/users/<%= slot.user.id %>">
              <%= slot.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= slot.date %>
        </td>

        <td>
          <%= slot.start_time %>
        </td>

        <td>
          <%= slot.end_time %>
        </td>

        <td>
          <%= time_ago_in_words(slot.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(slot.updated_at) %> ago
        </td>

        <td>
          <a href="/slots/<%= slot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @slots, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
