<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Slot #<%= @slot.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/slots" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @slot.user %>
          <a href="/slots/<%= @slot.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit slot
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @slot.user %>
          <a href="/delete_slot/<%= @slot.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete slot
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @slot.user.present? %>
          <a href="/users/<%= @slot.user_id %>">
            <%= @slot.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @slot.date %>
      </dd>

      <dt>
        Start time
      </dt>
      <dd>
        <%= @slot.start_time %>
      </dd>

      <dt>
        End time
      </dt>
      <dd>
        <%= @slot.end_time %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@slot.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@slot.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "slot_templates/slot_sent_matches" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "slot_templates/slot_recipient_matches" %>
  </div>
</div>
